/*encabezado*/
header{
 background-color: #901501;
 display: block;
 width: auto;
 border: 2px solid #BD8C00 ;
 font-family: "Dancing Script", cursive;
 font-weight: 700;

}
.lista{
    color: white;
    font-size: 20px;
    margin-left: 13px;
    display: inline;
    margin-right: 15px;
}
.encabezado{
    font-size:13px;
    color:white;
    margin-left: 10px;
}

/*pie de pagina*/
footer{
    background-color:#901501;
    
}

/*cuerpo de pagina*/
@font-face {
    font-family: "ancizar_serif";
    src: url(../fonts/Ancizar_Serif/AncizarSerif-Italic-VariableFont_wght.ttf);
}
body{
    
    background-color: white;
}
p{
    color:red;
    font-family: "ancizar_serif";
   
    
}
/*enlaces*/
a{
    font-size: 35px;
    color: white;
    
}
a:hover{
    color:#BD8C00;
}